meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="robots" content="noarchive")
title Masato Yamada _ portfolio site
meta(name="format-detection" content="email=no,telephone=no,address=no")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="description" content="音楽のエンジニアからITのエンジニアへと転職を目指し活動中の34歳--山田 将登のポートフォリオサイト。その他のポートフォリオへのリンクもあり、ハブとして制作しました。")
meta(property="og:url" content="https://ymdma--portfolio.web.app/" )
meta(property="og:type" content="website" )
meta(property="og:title" content="MasatoYamada_portfolio_site" )
meta(property="og:description" content="山田将登(やまだ まさと) ポートフォリオサイト" )
meta(property="og:site_name" content="MasatoYamada_portfolio_site" )
meta(property="og:image" content="./assets/images/ogp-thumb.png" )
link(rel="icon" href="./assets/images/favicon.ico")
link(rel="stylesheet", href="./assets/css/style.css")
script(src="./assets/js/script.js")