html(lang="ja")
  head
    include /_includes/_head.pug
  body
    .page-wrap
      #alertIE.alertIE
      .main
        header
          include /_includes/_hbg-button.pug
          include /_includes/_menu.pug

          h1#pageTittle Masato Yamada
            span portfolio site

        include /_includes/_description.pug
        include /_includes/_profile.pug
        include /_includes/_skills.pug
        include /_includes/_portfolios.pug

        include /_includes/_scroll-btn.pug

        footer
          p -- InternetExplorer is not supported --<br>
            | copyright <span>&copy;</span> MasatoYamada all reserved 2020