ul#navList.nav__list(aria-expanded="false")
  //- button#closeButton.c-close-button(role="button" tabindex="0")
  //-   | ×
  li#toProfile(role="button" tabindex="0") profile
  li#toSkills(role="button" tabindex="0") skills
  li#toPortfolios(role="button" tabindex="0") portfolios