section#portfoliosSection.p-portfolios
  h1 portfolios
  .p-portfolios__inner

    a.c-portfolio(href="http://13.115.148.93/" title="ポートフォリオサイトへのリンク")
      .c-portfolio__title-wrap
        h2 mercari(copy)
      .c-portfolio__thumb-wrap
        img(src="/assets/images/thumbs/thumb_mercari.png" alt="portfolio-image")
      p.c-portfolio__comment [ Basic認証 ID:mercari PASS:1031 ]<br><br>TECH::EXPERT チーム開発にて制作しました。<br>メルカリのクローンサイトを制作し、スクラムを組んでのアジャイル開発を経験しました。<br>主な担当箇所としては、要件定義、DB設計、Pay.jp(開発環境)、 SNS認証(開発環境) 等です。

    a.c-portfolio(href="http://52.193.98.166/" title="ポートフォリオサイトへのリンク")
      .c-portfolio__title-wrap
        h2 GroupBlog
      .c-portfolio__thumb-wrap
        img(src="/assets/images/thumbs/thumb_GroupBlog_create-group.png" alt="portfolio-image")
      p.c-portfolio__comment グループ機能を持ったショートブログ共有アプリケーション。<br>TECH::EXPERT修了直後に制作しました。<br>ページ遷移の煩わしさをを少なくしたいと思い、indexに機能を集めました。その為にAjaxを多用しています。

    a.c-portfolio(href="https://hiragana-de-porker.web.app/" title="ポートフォリオサイトへのリンク")
      .c-portfolio__title-wrap
        h2 ひらがなポーカー
      .c-portfolio__thumb-wrap
        img(src="/assets/images/thumbs/thumb_hiragana.png" alt="portfolio-image")
      p.c-portfolio__comment 初めて作ったJavaScriptによるゲーム。<br>ひらがなを使ったカードゲームを２人プレイ用のJavaScriptゲームで再現しました。<br>面白い言葉を作った方が勝ち！

    a.c-portfolio(href="https://count--down.web.app/" title="ポートフォリオサイトへのリンク")
      .c-portfolio__title-wrap
        h2 CountDown
      .c-portfolio__thumb-wrap
        img(src="/assets/images/thumbs/thumb_CountDown.png" alt="portfolio-image")
      p.c-portfolio__comment JavaScriptによるミニゲーム。<br>1から25までの数字を順番にクリック（タップ）していき、早いタイムを目指すゲームです。<br>よりよいコードを書けるように、可読性やメンテナンス性を高めるなど意識しました。

  a.link-to-this-site-github(href="https://github.com/ymdma/portfolio" title="このサイトのGitRepository")
    | --this site git repository--
  p.comment-to-this-site
    | このサイトのコードはこちらから確認頂けます
  a(href="https://github.com/ymdma" title="GitHubアカウントへのリンク")
    |GitHubアカウント: ymdma