section#portfoliosSection.p-portfolios
  h1 portfolios
  #portfolioAppendTargetArea.p-portfolios__inner
    //- ここにappend
  a.link-to-this-site-github(href="https://github.com/ymdma/portfolio" title="このサイトのGitRepository")
    | --this site git repository--
  p.comment-to-this-site
    | このサイトのコードはこちらから確認頂けます
  a(href="https://github.com/ymdma" title="GitHubアカウントへのリンク")
    | GitHubアカウント: ymdma