section#portFolioSection.p-portfolios
  h1 portfolios
  .p-portfolios__inner

    a.c-portfolio(href="http://13.115.148.93/" title="ポートフォリオサイトへのリンク")
      .c-portfolio__title-wrap
        h2 mercari(copy)
      .c-portfolio__thumb-wrap
        img(src="/assets/images/thumbs/thumb_mercari.png" alt="portfolio-image")
    //- p コメント　コメント　コメント　コメント
    a.c-portfolio(href="http://52.193.98.166/" title="ポートフォリオサイトへのリンク")
      .c-portfolio__title-wrap
        h2 GroupBlog
      .c-portfolio__thumb-wrap
        img(src="/assets/images/thumbs/thumb_GroupBlog_create-group.png" alt="portfolio-image")

    a.c-portfolio(href="https://hiragana-de-porker.web.app/" title="ポートフォリオサイトへのリンク")
      .c-portfolio__title-wrap
        h2 ひらがなポーカー
      .c-portfolio__thumb-wrap
        img(src="/assets/images/thumbs/thumb_hiragana.png" alt="portfolio-image")

    a.c-portfolio(href="https://count--down.web.app/" title="ポートフォリオサイトへのリンク")
      .c-portfolio__title-wrap
        h2 CountDown
      .c-portfolio__thumb-wrap
        img(src="/assets/images/thumbs/thumb_CountDown.png" alt="portfolio-image")
      //- p JavaScriptによるミニゲーム。<br>
        | 画面サイズが調整できる。
  a(href="https://github.com/ymdma/" title="このサイトのGitRepository")
    | --this site git repository--
  a(href="https://github.com/ymdma" title="GitHubアカウントへのリンク")
    |GitHubアカウント: ymdma