//- skills
section#skillsSection.p-skills
  h1 skills
  p 今までに学んだ、または開発に使用した経験のある技術(言語、ミドルウェア、DB、ツールなど)。<br>
    | マウスカーソルを合わせると、コメントが表示されます。
  .skills__inner
    ul#skillList
      //- ここにLISTをJSよりappend

//- コンテンツはJSよりappend
#skillsAppendContent.p-skill-display
  div
    #skillsLeft.left
    #skillsRight.right
      #skillAppendTargetArea.p-skill-display__append-field