// // common // //


// ***** 全体 ***** //
body {
  background: $baseWhiteColor;
  overflow: scroll;  // *注意 これを指定しないと実効性のあるコンテンツまで親要素(main-pagewrap-body)が降りていってしまう
}

.page-wrap {
  @include full-size;
  margin: 0;
  padding: 0;
  @include bg-transparent;
}

.main {
  @include full-size;
  margin: 0;
  padding: 0;
  padding-top: calc(100vh + 100px); // header分,読み込み幅100px
  @include bg-transparent;
  @include font-size(16);
  @include text-color;
  // overflow: scroll;  // *注意 これを指定しないと実効性のあるコンテンツまで親要素(main-pagewrap-body)が降りていってしまう(bodyで指定)
  section + section {
    margin-top: 100px;
  }
}

// ****** ***** ***** //


// ***** ALERT ***** //

// IE用「サポート外のお知らせ」アラート
.alertIE {
  @include position ( fixed, 0, null, null, null);
  @include flex--column__center;
  width: 100%;
  height: fit-content;
  padding: 20px 20px;
  z-index: 100;

  &__inner {
    width: 100%;
    padding-bottom: 15px;
    border-bottom: double brown 3px;
  }
  p {
    @include font-size(16);
    @include line-height(22);
  }
  &__headline[role="title"] {
    margin-bottom: 35px;
    color: brown;
    @include font-size(24);
    @include line-height(28);
    text-decoration: underline dotted;
  }
  a:hover {
    text-decoration: underline solid;
  }
}

// ****** ***** ***** //


// ***** scroll btn ***** //
// scroll btn
.c-scroll-btn--down,
.c-scroll-btn--up {
  width: 50px;
  height: 50px;
  background-image: url(../images/scroll_btn_down.svg);
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.2;
  transition: opacity ease-in-out 750ms;

  &:hover        { opacity: 1; }
  &[state="show"]{ display: block; }
  &[state="hide"]{ display: none; }
}

.c-scroll-btn--down {
  @include position ( fixed, 86%, null, null, 50% );
  @include centering-fix( -50%, 0%);
  background-image: url(../images/scroll_btn_down.svg);
  opacity: 0.1;
}
.c-scroll-btn--up {
  @include position ( fixed, null, 10px, 70px, null );
  @include centering-fix( 0%, 0% ); // リセット
  background-image: url(../images/scroll_btn_up.svg);
  opacity: 0.75;

}


// text
.please-scroll {
  @include none;
  @include fit-content;
  @include centering-fix( -50%, -200% );
  @include text-color;
  @include font-size(14);
  font-weight: 400;
  letter-spacing: 0.8px;
}

.c-scroll-btn--down:hover + .please-scroll,
.c-scroll-btn--up:hover + .please-scroll {
  display: block;
}

.c-scroll-btn--down:hover + .please-scroll{
  @include position ( fixed, 86%, null, null, 50%);
}

.c-scroll-btn--up:hover + .please-scroll {
  @include position ( fixed, null, -35px, 84px, null );
  @include centering-fix( -50%, 0 );
  color: black;

&::after{
    content: ">>";
    display: inline-block;
    padding: 0 15px;
    background: #ffffffcc;
    color: #777;
    @include font-size(14);
  }
}

// ***** ***** ***** //


// ***** フェードイン ***** //

header > h1,
.p-description,
.p-profile,
.p-portfolios,
.p-skills {
  opacity: 0;
}

// ***** ***** ***** //