
// IE用「サポート外のお知らせ」アラート
.alertIE {
  @include position ($p: fixed, $t: 0, $r: null, $b: null, $l: null);
  @include flex--column__center;
  width: 100%;
  height: fit-content;
  padding: 20px 20px;
  z-index: 100;

  &__inner {
    width: 100%;
    padding-bottom: 15px;
    border-bottom: double brown 3px;
  }
  p {
    @include font-size(16);
    @include line-height(22);
  }
  &__headline[role="title"] {
    margin-bottom: 35px;
    color: brown;
    @include font-size(24);
    @include line-height(28);
    text-decoration: underline dotted;
  }
  a:hover {
    text-decoration: underline solid;
  }
}


// scroll btn

.c-scroll-btn--down,
.c-scroll-btn--up {
  @include position( $p: fixed, $t: 88%, $l: 50%);
  width: 50px;
  height: 50px;
  @include centering-fix($x: -50%, $y: 0%,);
  background-image: url(../images/scroll_btn_down.svg);
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center center;
  transition: opacity ease-in-out 200ms;
  opacity: 0.1;

  &:hover        { opacity: 1; }
  &[state="show"]{ display: block; }
  &[state="hide"]{ display: none; }
}

.c-scroll-btn--down {
  background-image: url(../images/scroll_btn_down.svg);}
.c-scroll-btn--up {
  background-image: url(../images/scroll_btn_up.svg);}


.please-scroll {
  @include none;
  @include position($p: fixed, $t: 88%, $l:50%);
  @include fit-content;
  @include centering-fix($x:-50% , $y: -200% );
  @include text-color;
  @include font-size(14);
  font-weight: 400;
  letter-spacing: 0.8px;
}
.c-scroll-btn--down:hover + .please-scroll,
.c-scroll-btn--up:hover + .please-scroll {
  display: block;
}



// フェードイン(js+css)準備 //.in-viewの付与でフェードイン
header,
h1#pageTittle,
.c-scroll-btn--down,
.p-profile,
.p-portfolios,
.p-skills {
  opacity: 0;
}

// // // // // //
// クラス制御 //
// // // // // //

.is-hidden {
  @include none;
  opacity: 0;
  transition: display ease-in 0ms 300ms, opacity ease-in 300ms 0ms;
}


// フェードイン(js+css)準備 //.in-viewの付与でフェードイン
.inview {
opacity:1;
transition: opacity ease-in 1000ms 30ms;
}