// TITLE (name)
header {
  @include position (absolute, 0, 0, null, 0);
  width: 100%;
  height: 38.2%;
  @include bg-transparent;

h1 {
  @include position (absolute, 100%, null, null, 0);
  width: 50%;
  padding: 0 0 0 10%;
  @include bg-transparent;
  @include font-size(48);
  font-weight: 400;
  text-align: center;
  color: black;
  white-space: nowrap;
  @include centering-fix(0, -100%);
  // opacity: 0;

  // mq //
  @include sp {
    @include font-size(20);
  }
  @include tb {
    @include font-size(32);
  }
  @include up {
    padding: 0 0 0 20%;
  }
  // mq //

  span {
    display: block;
    @include position (absolute, 50%, null, null, 100%);
    width: 100%;
    padding: 0 10% 0 0;
    @include bg-transparent;
    @include font-size(24);
    font-weight: 400;
    text-align: center;
    @include text-color;
    @include centering-fix(0, -50%);
    // mq //
    @include sp {
      @include font-size(12);
    }
    @include tb {
      @include font-size(20);
    }
    @include up {
      width: 100%;
      padding: 0 20% 0 0;
    }
    // mq //
  }
}
}